# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Optional npm cache directory
.npm/

# Node modules
node_modules/

# Current distribution (we rebuild this anyway)
dist/

# Other crap
.vscode/
envs/